<!-- START THE FEATURETTES -->

<div ng-repeat="entry in data" class="row">
  
  <hr class="featurette-divider">

  <div class="col-md-7">
    <h2 class="featurette-heading">{{entry.title}} <span class="text-muted">Probably need CMS for this.</span></h2>
    <p class="lead">{{entry.body}}</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
  </div>
  <div class="row">
    <div class="col-md-7">
      <a ng-href="#/blogs/{{entry.id}}" class="lead">Read More -></p>
    </div>
  </div>

</div>

<!-- /END THE FEATURETTES -->